body {
  background: linear-gradient(180deg, #002b7f 0%, #ffffff 50%, #ce1126 100%);
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: #002b7f;
}

.fondo {
  padding: 20px;
}

.titulo {
  color: white;
  background-color: #002b7f;
  padding: 10px;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 20px auto;
  box-shadow: 0 0 10px white;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cuadro {
  width: 100px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #002b7f;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.cuadro:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

.info h2 {
  color: #ce1126;
}

.boton-reiniciar {
  background-color: #002b7f;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.boton-reiniciar:hover {
  background-color: #ce1126;
}

.creditos {
  margin-top: 20px;
  color: #333;
  font-size: 14px;
}
